---
title: Home
description: The latest app to help you find new friends with common interests.
image: https://source.unsplash.com/j5LSbCqB1wA/2000x1322?a=.png
bottom_image: https://unsplash.it/2000/1322?a=.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Innovation Measurement Communications </h1>
			<p class="subtext editable">From implementing new conservation strategies to data collection analysis and effective communications, we are ready to tackle any challenge and put you on the path to success. We help our clients by delivering tech-savvy conservation that transforms the way species, habitat and landscapes thrive. Contact us today to schedule a consultation.</p>
			<div class="cta button alt"><a href="#">Contact Us</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">
					Innovation
				</h2>
				<p class="editable">
					We blend rapidly evolving technological innovation with traditional approaches of natural resource management to maximize conservation success.&nbsp;
				</p>
			</div>
			<div class="image">
				<img class="editable" alt="Screenshot" src="/uploads/innovation-atttribute-to-wearn-and-glover-klapfer-2017.png" width="650" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">
					Measurement
				</h2>
				<p class="editable">
					Measuring conservation success is dependent on strong planning, assessment, implementation and analysis. We specialize in connecting the dots between this circle of action to create success throughout the life of any project/program.
				</p>
			</div>
			<div class="image">
				<img class="editable" alt="Screenshot" src="/uploads/measurement-attribute-to-rakicevic-nenad.jpg" width="650" srcset="/uploads/measurement-attribute-to-rakicevic-nenad.jpg 650w, /uploads/measurement-attribute-to-rakicevic-nenad@2x.jpg 1300w" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">
					Communications
				</h2>
				<p class="editable">
					We link successful project implementation and communication to key audiences including donors, lawmakers, leadership and the public through cost-effective communication strategies using tested messaging vehicles.
				</p>
			</div>
			<div class="image">
				<img class="editable" alt="Screenshot" src="/uploads/communications.jpg" width="650" />
			</div>
		</div>
	</section>

	<!-- <section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Find your buddy today</h2>
				<p class="subtext editable">It's free, fun and an exciting way to meet new people.</p>
				<div class="cta button alt"><a href="#">Join Now</a></div>
			</div>
		</div>
	</section> -->
</div>
