---
layout: default
---

<div class="content">
 
<article class="post-body">
 
 <script type='text/javascript' src='https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js'></script>
 
<div data-badge-type="donut" data-doi="10.1038/nature.2014.14583" data-hide-no-mentions="true" class="altmetric-embed"> G. Bas, M.N. Durakbasa, J.M. Bauer, G. Poszvek:
"Characterization and Utilization of the Intelligent Decision Making Methodology to Improve Quality and Precision in the Machining Process";
 </article></div>
 <article class="post-body">
G. Bas, L. Stoev, M.N. Durakbasa:
"Assessment of the Production Quality in Machining by Integrating a System of High Precision Measurement"; Procedia Engineering, 100 (2015), S. 1616 - 1624.
 </article>
  <article class="post-body">
  J.M. Bauer, G. Bas, M.N. Durakbasa, P. Kopacek:
"Development Trends in Automation and Metrology";
Elsevier ScienceDirect IFAC-PapersOnLine, Volume 48 (2015), Issue 24; S. 168 - 172.
 </article>
 
 
</div>
