---
layout: default
---

<div class="content">
 <span class="__dimensions_badge_embed__" data-doi="10.1001/jama.2016.9797"></span><script async src="https://badge.dimensions.ai/badge.js" charset="utf-8"></script>
 <span class="__dimensions_badge_embed__" data-doi="10.1001/jama.2016.9797" data-style="small_rectangle"></span>
<article class="post-body">
 G. Bas, M.N. Durakbasa, J.M. Bauer, G. Poszvek:
"Characterization and Utilization of the Intelligent Decision Making Methodology to Improve Quality and Precision in the Machining Process";
 </article>
 <article class="post-body">
G. Bas, L. Stoev, M.N. Durakbasa:
"Assessment of the Production Quality in Machining by Integrating a System of High Precision Measurement"; Procedia Engineering, 100 (2015), S. 1616 - 1624.
 </article>
  <article class="post-body">
  J.M. Bauer, G. Bas, M.N. Durakbasa, P. Kopacek:
"Development Trends in Automation and Metrology";
Elsevier ScienceDirect IFAC-PapersOnLine, Volume 48 (2015), Issue 24; S. 168 - 172.
 </article>
 
 
</div>
